$main-background : rgba(0, 0, 0, 0.918);
$color : white;

@font-face {
    src: url("../Fonts/Adamina-Regular.ttf");
    font-family: Adamina;
}

@font-face {
    src: url("../Fonts/Spartan-VariableFont_wght.ttf");
    font-family:Spartan;
}

@font-face {
    src: url("../Fonts/Trocchi-Regular.ttf");
    font-family:Taviraj;
}

@font-face {
    src: url("../Fonts/Roboto-Light.ttf");
    font-family:robot;
}


@font-face {
    src: url("../Fonts/Taviraj-SemiBold.ttf");
    font-family:bold;
}

